//Variables

$logo-font: 'Cookie', cursive;
$website-width: 1280px;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$dark-color: #333;
$medium-color:#ccc;
$bg-img: url("../img/sf2.JPG");
$abt-img: url("../img/sf.jpg");



//Set Text Color

@function set-text-color($color){
    @if(lightness($color)>50){
        @return #333;
    }
    @else{
        @return #fff;
    }
}